@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-dark: #0f1115;
  --color-darker: #0a0b0d;
  --color-primary: #3b82f6; /* Blue-500 */
  --color-primary-hover: #2563eb; /* Blue-600 */
}

@layer base {
  body {
    @apply bg-dark text-gray-200 antialiased min-h-screen flex flex-col m-0 p-0;
  }
}
